/* ------------ Common CSS start -------------- */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

body {}

.clear {
    clear: both;
}

.main_section {
    width: 100%;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* --------------- Common CSS end ------------ */




/* ----------------- Fonts start ------------------ */
@font-face {
    Font-family: Oswald-Medium;
    src: url(../fonts/oswald/Oswald-Medium.ttf)
}

@font-face {
    Font-family: Oswald-SemiBold;
    src: url(../fonts/oswald/Oswald-SemiBold.ttf)
}

@font-face {
    Font-family: Oswald-Bold;
    src: url(../fonts/oswald/Oswald-Bold.ttf)
}

@font-face {
    Font-family: Oswald-Regular;
    src: url(../fonts/oswald/Oswald-Light.ttf)
}

@font-face {
    Font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf)
}

@font-face {
    Font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro/MYRIADPRO-REGULAR.woff)
}

/* ------------------- Fonts end ------------------ */




/* ------------ Fonts/PD selection start ------------- */
h1 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: Oswald-Bold;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: Oswald-Regular;
}

h3 {
    font-size: 24px;
    color: #353535;
    text-transform: ;
    font-family: Oswald-Medium;
}

h4 {
    font-size: 16px;
    color: #353535;
    text-transform: uppercase;
    font-family: Oswald-Medium;
}

h5 {
    font-size: 14px;
    color: #555555;
    text-transform: ;
    font-family: Oswald-Regular;
}

p {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #fff;
    line-height: 1.6;
}

a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-family: Oswald-Medium;
    transition: .3s;
}

.pt_60 {
    padding-top: 60px;
}

.py {}

.common_heding {
    margin: 0px 10px;
    padding-bottom: 30px;
    text-align: center;
}

/* -------------- Fonts/PD selection end --------------- */




/* ----------------- .header_part start ----------------- */
.GOD_files{
    width: 960px;
    margin: 0 auto;
}
.GOD_files h1{
    margin: 0px 10px;
    width: 460px;
    height: 106px;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
}
.GOD_files h1 i{
    margin-left: 10px;
}
.GOD_files img{
    margin: 0px 10px;
    float: left;
}
.header_part {
    padding-top: 10px;
    padding-bottom: 9px;
    background-color: #0872b9;
}

.header-content {
    width: 460px;
    margin: 0px 10px;
    float: left;
}

.header-content p {
    color: #e7e7e7;
    font-size: 14px;
}

.header-icon {
    width: 460px;
    margin: 0px 10px;
    float: left;
}

.header-icon ul {
    float: right;
}

.header-icon ul li {
    float: left;
}

.header-icon ul li a {
    display: block;
    padding: 0px 12.5px;
    color: #e7e7e7;
    transition: all linear .3s;
}

.header-icon ul li:last-child a {
    padding-right: 0px;
}

.header-icon ul li:hover a {
    color: #353535;
}

/* ------------------ .header_part end ------------- */




/* ------------------ .menu start ------------------ */
.menu_part {}

.logo {
    width: 140px;
    margin: 0px 10px;
    float: left;
}

.logo a img {
    padding: 20px 0px;
}

.menu {
    width: 780px;
    margin: 0px 10px;
    float: left;
}

.menu ul {
    float: right;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    padding: 34px 7.5px;
    Font-family: MyriadPro-Regular;
}

.menu ul li:last-child a {
    padding-right: 0px;
}

.active a,
.menu ul li:hover a {
    color: #0872b9;
}

/* ------------------- .menu end -------------------- */





/* -------------- .banner_part start ---------------- */
.banner_part {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.banner_overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 87px 0px;
}

.banner_content {
    width: 437px;
    margin: 0px 10px;
    float: right;
    text-align: right;
}

.banner_content h1 {
    padding-bottom: 19px;
}

.banner_content p {
    line-height: 23px;
    padding-bottom: 30px;
}

.banner_content a {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    margin-left: 15px;
}

.bn_button a:first-child {
    margin-left: 0px;
}

.bn_button a:hover {
    background-color: #0872B9;
    border-color: #0872B9;
}

/* ----------------- .banner_part end ----------------- */




/* ---------------  - .about_part start------------------ */
.about_part {}

/* ---.common_heding start--- */
.common_heding h3 {
    text-transform: uppercase;
}

.common_heding img {
    margin-left: -36px;
    margin-top: -21px;
}

/* ---.common_heding end--- */
.about_part .common_heding {
    padding-bottom: 40px;
}

.abt_content {}

.abt_content img {
    width: 380px;
    margin: 0px 10px;
    float: left;
}

.abt_content p {
    float: right;
    margin: 0px 10px;
    padding-top: 40px;
    width: 540px;
    color: #555555;
}

.abt_content p:last-child {
    padding-top: 30px;
}

/* ---------------- .about_part end ------------------ */




/* ---------------- .service start ------------------ */
.services {
    padding-top: 40px;
}

.service .common_heding img {
    margin-left: -73px;
    margin-top: -21px;
}

.s_iteam {
    width: 300px;
    float: left;
    margin: 0 10px;
    text-align: center;
    position: relative;
}

.s_icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 4px solid #ffffff;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear 0.3s;
}

.s_icon_2 {
    height: 69px;
    width: 69px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 2px solid #ffffff;
    margin: 1px auto;
    transition: all linear 0.3s;
}

.s_icon_2 img {
    margin-top: 50%;
    transform: translateY(-50%);
}

.s_content {
    padding: 50px 20px 20px;
    background: #f1f1f1;
    transition: all linear 0.3s;
}

.s_content h4 {
    padding-bottom: 10px;
}

.s_content p {
    color: #555555;
}
.s_iteam:hover .s_content{
    box-shadow: 0px 0px 5px;
    color: #000;
}
.s_iteam:hover .s_icon{
    box-shadow: 0px 2px 3px;
    color: rgba(0, 0, 0, 0.45);
}
.s_iteam:hover .s_icon,
.s_iteam:hover .s_icon_2{
    background: #5bc5f4;
}
/* ---------------- .service end ------------------ */




/* ---------------- .portfolio start ------------------ */
.portfolio{}
.portfolio .common_heding img{
    margin-left: -87px;
}
.gly{}

.gly_iteam{
    width: 220px;
    margin: 0 10px;
    float: left;
}
.gly_iteam_img{
    position: relative;
}
.gly_img_overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all linear 0.4s;
    text-align: center;
    opacity: 0;
}
.gly_img_overlay a{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
    background: #5bc5f4;
    font-size: 20px;
    transform: translate(-50%, -50%);
}
.gly_img_overlay a i{
    line-height: 40px;
}
.gly_iteam_img:hover .gly_img_overlay{
    height: 100%;
    opacity: 1;
   
} 
.mt_20{
    margin-top: 20px;
}
/* ---------------- .portfolio end ------------------ */



/* ---------------- .team_part start ------------------ */

.team_part .common_heding img {
    margin-left: -32px;
    margin-top: -21px;
}

/* ---------------- .team_part end ------------------ */


































































